/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use "../../defs";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-monospace {
  font-family: defs.$monospace-font;
}
