@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex-grow: 1;
}
