/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@use "~bootstrap/scss/bootstrap";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.input-action,
.input-message-id,
.input-string-id,
.input-targeting,
.input-trigger,
.message-id {
    font-family: Menlo, Consolas, 'Courier New', monospace;
}

.react-select__control.react-select__control {
    border: bootstrap.$input-border-width solid bootstrap.$input-border-color;
    transition: bootstrap.$input-transition;

    &:hover {
        border-color: var(--bs-gray-400);
    }

    &--is-focused {
        background-color: bootstrap.$input-focus-bg;
        border-color: bootstrap.$input-focus-border-color;
        outline: 0;
        box-shadow: bootstrap.$input-box-shadow, bootstrap.$input-focus-box-shadow;

        &:hover {
            border-color: bootstrap.$input-focus-border-color;
        }
    }
}

.wizard-section-header {
    font-size: 1.125rem;
    background-color: bootstrap.$blue-100;
}

.card-accordion {
    .card-header {
        border-bottom: none;
    }

    .card-body {
        border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }
}
